@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1090px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-big {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.link {
  color: #006DFE;
}
.link::after {
  content: url("../img/svg/Shape.svg");
  margin-left: 26px;
}

.link:hover {
  opacity: 0.8;
}

a:hover {
  opacity: 0.8;
}

.header {
  padding: 56px 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.header__logotype {
  width: 82px;
  height: 31px;
}
.menu__items {
  display: flex;
  gap: 82px;
}
.menu__item {
  color: #fff;
  font-size: 18px;
}

.welcome {
  height: 100vh;
  margin-top: -143px;
  display: flex;
  align-items: center;
  background: url("../img/welcome.jpg") 0 0/cover no-repeat;
  color: #fff;
}
.welcome .container {
  width: 100%;
}
.welcome__body {
  display: flex;
  flex-direction: column;
}
.welcome__title {
  max-width: 620px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 50px;
}
.welcome__text {
  max-width: 550px;
  margin-bottom: 60px;
  line-height: 24px;
}
.search {
  display: flex;
  gap: 60px;
}
.search__field {
  display: flex;
  width: 300px;
  border-bottom: 2px solid #fff;
  padding-bottom: 22px;
}
.search__field::before {
  content: url("../img/svg/Oval.svg");
}
.search input {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 23px;
}
.search input, .search input::placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.search__search {
  padding: 0 39px;
  background-color: #1B7DFF;
  width: 170px;
  height: 48px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.search__search:hover {
  opacity: 0.8;
}

.benefits {
  max-width: 1262px;
  margin: 0 auto;
  padding: 110px 0;
  background-color: #fff;
}
.benefits__title {
  margin-bottom: 110px;
  font-weight: 500;
  font-size: 35px;
}
.benefits__items {
  display: flex;
  gap: 55px;
}
.benefits__item {
  max-width: 317px;
}
.benefits__img {
  margin-bottom: 37px;
}
.benefits__subtitle {
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 18px;
}
.benefits__about {
  margin-bottom: 39px;
  line-height: 24px;
}
.cities-to-trip {
  padding: 130px 0;
}
.about-trip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
.about-trip__title {
  display: inline-block;
  font-size: 35px;
  color: #102746;
}
.about-trip__title::after {
  content: "";
  display: block;
  margin-top: 10px;
  width: 250px;
  height: 2px;
  background-color: #006DFE;
}
.list-sities__top {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}
.list-sities__bottom {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.list-sities__item {
  position: relative;
}
.list-sities__img {
  display: inline-block;
  width: 100%;
  position: relative;
}
.list-sities__mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(21, 24, 36, 0.4);
}
.list-sities__title {
  position: absolute;
  z-index: 3;
  bottom: 30px;
  left: 30px;
  font-weight: 700;
  font-size: 50px;
  color: #fff;
}

.row-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 108px;
  margin-bottom: 77px;
}
.row-about:last-child {
  margin-bottom: 0px;
}
.row-about__about {
  display: flex;
  flex-direction: column;
  width: 520px;
  color: #102746;
}
.row-about__title {
  margin-bottom: 85px;
  font-size: 30px;
  font-weight: 500;
}
.row-about__text {
  margin-bottom: 58px;
  line-height: 24px;
}
.today-top-places {
  color: #102746;
  margin: 140px 0;
}
.today-top-places__title {
  margin-bottom: 54px;
  font-weight: 500;
  font-size: 35px;
}
.today-top-places__title::after {
  content: "";
  display: block;
  margin-top: 10px;
  width: 250px;
  height: 2px;
  background-color: #006DFE;
}
.today-top-places__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 57px;
}

.items-today__item {
  max-width: 386px;
}
.items-today__img {
  width: 100%;
}
.items-today__text {
  margin-bottom: 30px;
  line-height: 24px;
}
.items-today__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 42px;
  color: #fff;
  background-color: #006DFE;
}

.image-items {
  position: relative;
  color: #fff;
  margin-bottom: 45px;
}
.image-items__about {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  width: 100%;
  height: 55px;
  padding: 0 25px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.image-items__title {
  font-weight: 500;
  font-size: 18px;
}
.image-items__likes {
  margin-right: 14px;
}
.image-items__likes-quantity {
  margin-right: 5px;
}
.image-items__comments-quantity {
  margin-right: 5px;
}
.foot-video {
  width: 100%;
  position: relative;
  background-color: #0E1D28;
  height: 100vh;
}

.footer {
  padding: 120px 0;
  background-color: #0E1D28;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  width: 170px;
  height: 64px;
}
.footer__links {
  display: flex;
  gap: 140px;
}
.foot-links {
  display: flex;
  flex-direction: column;
}
.foot-links__title {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.foot-links a {
  color: #fff;
}
.foot-links__list {
  display: flex;
  flex-direction: column;
}
.foot-links__list li {
  margin-bottom: 12px;
}
@media (max-width: 1000px) {
  .list-sities__title {
    font-size: 30px;
  }
  .row-about {
    gap: 50px;
  }
  .row-about__img {
    max-width: 400px;
  }
  .row-about__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 900px) {
  .benefits {
    padding: 55px 0;
  }
  .welcome {
    align-items: center;
  }
  .welcome__body {
    align-items: center;
  }
  .welcome__body h1 {
    text-align: center;
  }
  .search {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .cities-to-trip {
    padding: 55px 0;
  }
  .today-top-places {
    margin: 55px 0;
  }
  .today-top-places__items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}
@media (max-width: 800px) {
  .footer {
    padding: 60px 0;
  }
  .row-about {
    flex-direction: column;
  }
  .row-about {
    text-align: center;
  }
  .row-about__img {
    max-width: 100%;
  }
  .footer .container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
@media (max-width: 700px) {
  .about-trip__title {
    font-size: 25px;
  }
  .list-sities__title {
    font-size: 25px;
  }
}
@media (max-width: 660px) {
  .search {
    flex-direction: column;
    align-items: center;
  }
  .benefits__title {
    margin-bottom: 55px;
  }
  .header {
    padding: 25px 0;
  }
  .header .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .welcome {
    margin-top: -119px;
  }
  .welcome__title {
    font-size: 30px;
  }
  .benefits__items {
    flex-direction: column;
    align-items: center;
  }
  .benefits__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .benefits__img {
    max-width: 66px;
    max-height: 66px;
  }
}
@media (max-width: 550px) {
  .menu__items {
    gap: 40px;
  }
}
@media (max-width: 500px) {
  .today-top-places__items {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .items-today__item {
    max-width: 100%;
  }
}
